$media-1: 575px;
$media-2: 767px;
$media-3: 930px;
$media-4: 1024px;
$media-5: 1366px;
$media-6: 1400px;
$media-7: 450px;

.category_product_item {
	display: flex;
	align-items: center;
	font-weight: 500;
	padding: 1.5rem;
	gap: 2.5rem;
	border-bottom: 1px solid #e1e7f2;
	margin-bottom: 1rem;
	flex-direction: column;
	@media (min-width: 992px) {
		display: grid;
		grid-template-columns: 17% 41% 39%;
		gap: 1rem;
	}

	.info {
		width: 100%;
		display: grid;
		grid-template-columns: 100%;
		gap: 1rem;
		align-items: center;
		@media (min-width: $media-7) {
			grid-template-columns: repeat(3, 32.4%);
		}
	}
	input {
		width: 3.222rem;
		height: 2.222rem;
		text-align: center;
	}
	input[type="checkbox"] {
		width: 20px;
		height: 20px;
		text-align: center;
	}
	img {
		height: 100px;
		object-fit: contain;
	}
	button {
		border: 0;
		border-radius: 0;
		background: none;
		cursor: pointer;
	}
	.image_block {
		cursor: pointer;
	}
	.controls {
		display: flex;
		gap: 2rem;
		@media (min-width: 992px) {
			justify-content: space-between;
		}
	}
	.wishlist_btn_wrp {
		position: relative;
		display: flex;
		gap: 0.5rem;
		align-items: center;
	}
}






