$media-1: 575px;
$media-2: 767px;
$media-3: 992px;
$media-4: 1024px;
$media-5: 1366px;
$media-6: 1400px;

.category_product_item {
	display: flex;
	align-items: center;
	font-weight: 500;
	padding: 1.5rem;
	gap: 3.5rem;
	border-bottom: 1px solid #0000001f;
	margin-bottom: 1rem;
	.info {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(3, 32.4%);
		gap: 1rem;
		align-items: center;
	}
	input {
		width: 2.222rem;
		height: 2.222rem;
		text-align: center;
	}
	img {
		height: 100px;
		object-fit: contain;
	}
	button {
		border: 0;
		border-radius: 0;
		background: none;
		cursor: pointer;
	}
}
