$media-1: 575px;
$media-2: 767px;
$media-3: 992px;
$media-4: 1024px;
$media-5: 1366px;
$media-6: 1400px;


.top_bar {
	margin-top: 3rem;
}

table	{
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 .5rem;
	tr {
		vertical-align: middle;
		td {
			color: #6d7682;
			font-weight: 400;
			font-size: 13px;
			line-height: 16px;
			border-bottom: none;
			border-top: 1px solid #e1e7f2;
			padding-top: .7rem;
			text-align: right;
			&:nth-child(1) {
				width: 17%;
			}

			&:nth-child(2) {
				width: 29%;
			}

			&:nth-child(3) {
				width: 18%;
			}

			&:nth-child(4) {
				width: 23%;
			}

			&:nth-child(5) {
				width: 7%;
			}

			&:nth-child(6) {
				width: 10%;
			}
		}
	}
}












