$media-1: 575px;
$media-2: 767px;
$media-3: 992px;
$media-4: 1024px;
$media-5: 1366px;
$media-6: 1500px;


.top_bar {
	margin-top: 3rem;
	display: none;
	@media (min-width: $media-3) {
		display: block;
	}

	.top_bar_table {
		display: grid;
		grid-template-columns: 20% 14% 16% 12% 13% 11% 14%;
		@media (min-width: $media-5) {
			grid-template-columns: 18% 14% 16% 12% 15% 11% 14%;
		}
		@media (min-width: $media-6) {
			grid-template-columns: 16% 14% 17% 13% 16% 11% 12%;
		}
		div {
			font-size: 16px;
			color: #6d7682;
			font-weight: 400;
			text-align: center;
		}
	}
}















