header {
	padding: 0.7rem 0;
	background: #f0f4f3;
	.inner {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	.col_2 {
		display: flex;
		gap: 1.5rem;
		align-items: center;
		justify-content: center;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: center;
		ul {
			display: flex;
			align-items: center;
			gap: 2rem;
		}
	}
}