header {
  padding: 0.7rem 0;
  background: linear-gradient(85.66deg,#cdd5e1 9.39%,rgba(205,213,225,0) 96.81%,rgba(205,213,225,0) 96.81%);

  .inner {
    display: grid;
	  grid-template-columns: 16% 32% 15% 18%;
	  justify-content: space-between;
  }

  .col_2 {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

	.quantity_wrp {
		position: relative;
	}
	.login {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
