.category_item {
	display: flex;
	align-items: center;
	gap: 2.5rem;
	font-weight: 500;
	padding: 1.5rem;
	box-shadow: 5px 5px 7px 5px rgba(0,0,0,0.26);
	border-radius: 0.5rem;
	a {
		&:nth-child(1) {
			flex-shrink: 0;
		}
	}
}
