.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	ul {
		display: flex;
		align-items: center;
		gap: 2rem;
		list-style: none;
		li {
			a {
				font-weight: 500;
			}
		}
	}
}
