@tailwind base;
@tailwind components;
@tailwind utilities;


body {
	margin: 0;
	font-size: 18px;
}

main {
	min-height: 100vh;
}

h1 {
	font-size: 25px;
	margin: 1rem 0;
}

h2 {
	font-size: 20px;
	margin: 1rem 0;
}

