@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Arial, -apple-system, BlinkMacSystemFont, Helvetica, Roboto, Noto, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	margin: 0;
	font-size: 18px;
    position: relative;
    color: #212529;
}

main {
	min-height: 100vh;
}

h1 {
	font-size: 2.5rem;
	line-height: 1;
	font-weight: 700;
	margin: 1.5rem 0;
	word-break: break-all;
	text-align: center;
}

h2 {
	font-size: 2rem;
	margin: 1.5rem 0;
	word-break: break-all;
	font-weight: 700;
	text-align: center
}

h3 {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	word-break: break-all;
	font-weight: 700;
	text-align: center
}

p {
	word-break: break-all;
}

