.button {
	box-sizing: border-box;
	width: fit-content;
	font-size: 14px;
	font-weight: 400;
	border-radius: .3rem;
	background: #212529;
	border: 1px solid #212529;
	padding: 9px;
	color: #fff;
	cursor: pointer;
}
