$media-1: 575px;
$media-2: 767px;
$media-3: 992px;
$media-4: 1024px;
$media-5: 1366px;
$media-6: 1400px;
$media-7: 1200px;

.breadcrumbs {
	border-bottom: 1px solid #e1e7f2;
	padding: 1rem 0;
	.breadcrumbs_inner {
		width: 100%;
		max-width: 1600px;
		padding: 0 0.75rem;
		margin: 0 auto;
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	strong {
		font-size: 14px;
		text-transform: capitalize;
	}

	img {
		width: 30px;
		height: 30px;
	}
}
