footer {
	padding: 0.7rem 0;
	background: linear-gradient(85.66deg,#cdd5e1 9.39%,rgba(205,213,225,0) 96.81%,rgba(205,213,225,0) 96.81%);
	.inner {
		display: flex;
		gap: 3rem;
		align-items: center;
	}
}
