$media-1: 575px;
$media-2: 767px;
$media-3: 992px;
$media-4: 1024px;
$media-5: 1366px;
$media-6: 1400px;
$media-7: 1200px;

.sidebar {
	padding: 0.7rem 0;
	border-right: 1px solid #FECA39;
	min-height: 100vh;
}
