.pagination {
	ul {
		display: flex;
		gap: 1rem;
		justify-content: center;
		margin-top: 2rem;
		margin-bottom: 3rem;
		list-style: none;
	}
	li {
		border-radius: 0.5rem;
		width: 2rem;
		height: 2rem;
		text-align: center;
		line-height: 1.7;
		&.selectedPage {
			a {
				color: #0080c9;
			}
		}
		&:first-child, &:last-child {
			width: fit-content;
			a {
				color: #0080c9;
			}
		}
	}
}

