$media-1: 575px;
$media-2: 767px;
$media-3: 992px;
$media-4: 1024px;
$media-5: 1366px;
$media-6: 1400px;
$media-7: 600px;


.guest_layout_wpr {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.guest_layout_inner {
		display: flex;
		gap: 1rem;
		margin-top: 1rem;
		min-width: 330px;
		@media (min-width: $media-2) {
			min-width: 600px;
		}
		form {
			width: 100%;
		}
	}
}

.forgot_pass {
	.guest_layout_inner {
		display: flex;
		flex-direction: column;
		padding: 0 .7rem;
		@media (min-width: $media-7) {
			flex-direction: row;
		}
	}
}

.authenticated_layout_wrp {
		header {
			.inner {
				display: grid;
				align-items: center;
				grid-template-columns: repeat(3, 33.3%);
			}
			a {
				font-size: 1rem;
			}
		}
	.controls {
		display: flex;
		align-items: center;
		gap: 1.5rem;
		justify-content: flex-end;
	}
	.main {
		margin-top: 2rem;
	}
}
